* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  color: #363636;
}
.content {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-left: calc(0.7rem + 0.175vw);
  padding-right: calc(0.7rem + 0.175vw);
}
/* header */
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 2px;
  font-size: calc(0.3rem + 0.7vw);
}
.start {
  margin: 0;
  color: #7d7d7d;
}
/* navigation */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  gap: calc(0.3rem + 0.575vw);
}
.nav-link {
  text-decoration: none;
  color: #7d7d7d;
}
.nav-link:hover {
  text-decoration: underline;
}
h1 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: calc(1rem + 6.44vw);
  margin-top: 24px;
  margin-bottom: 44px;
}
/* block main */
.main-list-head {
  background-color: #363636;
  color: #fff;
  font-size: calc(0.7rem + 0.35vw);
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
}
.main-list-head > li:first-child {
  margin-left: 24px; 
}
.main-list-head > li {
  padding-top: 24px;
  padding-bottom: 24px;
}
.main-link {
  color: #fff;
  text-decoration: none;
}
.main-link:hover {
  text-decoration: underline;
}
.main-head {
  font-size: calc(1rem + 2.94vw);
  margin-top: 59px;
  margin-bottom: 0;
}
.main-text {
  font-size: calc(0.5rem + 1.375vw);
}
.main-list-big {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 3px;
}
.main-list-big > li {
  position: relative;
}
picture > img {
  width: 100%;;
}
.main-list-big-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-list-big-header {
  font-size: calc(2.5rem + 0.125vw);
  margin: 0;
} 
.main-list-big-text {
  white-space: nowrap;
  font-size: calc(1rem + 0.5vw);
  margin: 0;
  margin-top: 10px;
}
.main-list-small {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 3px;
}
.main-list-small > li {
  position: relative;
}
.main-list-small-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-list-small img {
  width: 100%;
}
.main-list-small-header {
  margin: 0;
  font-size: calc(1.4rem + 0.5vw);
}
.main-list-small-text {
  margin: 0;
  margin-top: 10px;
  white-space: nowrap;
  font-size: calc(0.5rem + 0.5vw);
}
/* big and small images mobile */
.main-list-big-mobile {
  display: none;
}
.main-list-small-mobile {
  display: none;
}
.content-section-big {
  display: flex;
  margin-bottom: 43px;
  gap: 15px;
  justify-content: space-between;
}
.content-section-events {
  max-width: 810px;
  width: 70%;
  height: 100%;
}
.events {
  border: 1px solid #979797;
  margin-top: 35px;
}
.line-block-events {
  height: 2px;
  max-width: 338px;
  width: 50%;
  margin-left: 3.3%;
}
.line-first-events {
  display: inline-block;
  background-color: #000;
  height: 2px;
  width: 100%;
}
.events-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 46px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1px;
}
.events-list > li {
  margin-bottom: 41px; 
  width: 45%;
}
.event-link {
  text-decoration: none;
  color: #000;
}
.event-image {
  aspect-ratio: 360 / 193;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.event-image-1 {
  background-image: url("../images/Tile-Big-01.png");
}
.event-image-2 {
  background-image: url("../images/Tile-Big-02.png");
}
.event-image-3 {
  background-image: url("../images/Tile-Big-03.png");
}
.event-image-4 {
  background-image: url("../images/Tile-Big-04.png");
}
.event-image-text {
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  padding: 3px 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-size: calc(0.25rem + 0.5vw);
}
.event-image-text-1 {
  background-color: #468eda;
}
.event-image-text-2 {
  background-color: #5cc08c;
}
.event-image-text-3 {
  background-color: #c075b8;
}
.event-image-text-4 {
  background-color: #e1b173;
}
.events-head {
  margin: 0;
  margin-top: 8px;
  font-size: calc(0.3rem + 0.7vw);
}
.events-text {
  color: #7f7f7f;
  margin: 0;
  margin-top: 8px;
  font-size: calc(0.25rem + 0.5vw);
}
.container-events-button {
  display: flex;
  justify-content: center;
  margin-top: calc(0.2rem + 0.3vw);
  margin-bottom: calc(0.5rem + 3vw);
}
.events-button {
  background-color: #5cbd5c;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: calc(0.2rem + 0.85vw);
  width: 30%;
  aspect-ratio: 243 / 75;
}
.events-button:hover {
  cursor: pointer;
}
.content-section {
  max-width: 350px;
  width: 29%;
  display: flex;
  flex-direction: column;
}
/* social cites */
.social {
  margin-top: 35px;
  border: 1px solid #979797;
  height: 30%;
}
.section-head {
  text-transform: uppercase;
  font-size: calc(0.425rem + 0.7vw);
  margin: 0;
  padding: 0;
  margin-top: 19px;
  margin-left: 3.3%;
  letter-spacing: 1px;
}
/* events */
.events-section-head {
  margin-left: 3.3%;
}
/* video */
.video-section-head {
  margin-left: 2.4%;
}
/* social cites */
.line-block {
  height: 2px;
  max-width: 310px;
  width: 90%;
  margin-left: 3.3%;
}
.line-first {
  display: inline-block;
  background-color: #000;
  height: 2px;
  width: 50%;
}
.line-second {
  width: 50%;
  margin-bottom: 0.5px;
  display: inline-block;
  height: 1px;
  background-color: #979797;
}
.cites {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 12%;
}
.cites-link {
  text-decoration: none;
  font-size: calc(0.3rem + 0.7vw);
  color: #7d7d7d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-cites-image {
  display: flex;
  justify-content: center;
}
.cites-link img {
  display: block;
  width: calc(0.8125rem + 2vw);
  max-width: 45px;
}
.cites-link:hover {
  text-decoration: underline;
}
/* users */
.users {
  margin-top: 15px;
  border: 1px solid #979797;
  height: 64.3%;
}
.users-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 56px;
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.users-list > li {
  margin-bottom: 22px;
  width: 194px;
  display: flex;
  align-items: center;
}
.user-image {
  position: relative;
  overflow: hidden;
  width: calc(2rem + 3vw);
  height: calc(2rem + 3vw);
}
.users-list img {
  width: calc(1.5rem + 3vw);
  height: calc(1.5rem + 3vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.user-head {
  font-size: calc(0.32rem + 0.7vw);
  margin: 0;
  padding: 0;
  line-height: 0;
  color: #000;
}
.user-text {
  margin: 0;
  padding: 0;
  line-height: 0;
  margin-top: 17px;
  font-size: calc(0.3rem + 0.7vw);
  color: #838383;
}
/* video */
.content-section-video {
  background-color: #f4f4f4;
}
.video {
  padding-top: 1px;
  padding-bottom: 41px;
} 
.line-block-video {
  height: 2px;
  max-width: 79px;
  width: 11%;
  margin-left: 2.4%;
}
.line-first-video {
  display: inline-block;
  background-color: #000;
  height: 2px;
  width: 100%;
}
.video-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 39px;
  display: flex;
  justify-content: space-evenly;
  gap: 1px;
}
.video-list > li {
  width: 22%;
}
.video-link {
  text-decoration: none;
  color: #000;
}
.video-image {
  aspect-ratio: 283 / 197;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.video-image-1 {
  background-image: url("../images/video-01.png");
}
.video-image-2 {
  background-image: url("../images/video-02.png");
}
.video-image-3 {
  background-image: url("../images/video-03.png");
}
.video-image-4 {
  background-image: url("../images/video-04.png");
}
.content-section-big-second {
  display: flex;
  margin-bottom: 43px;
  gap: 15px;
  justify-content: space-between;
}
/* news */
.news {
  margin-top: 40px;
  border: 1px solid #979797;
}
.line-block-left {
  margin-left: 17px;
}
.line-first-width {
  width: 70%;
}
.line-second-width {
  width: 30%;
}
.news-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 17px;
  margin-bottom: 59px;
  display: flex;
  flex-direction: column;
}
.news-list > li {
  max-width: 678px;
  margin-top: 12px;
}
.news-list > li:nth-child(2),
.news-list > li:nth-child(3) {
  margin-top: 0;
}
.news-list > li::after {
  content: "";
  display: block;
  width: 88%;
  height: 1px;
  background-color: #979797;
}
.news-link {
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.news-link img {
  width: 104px;
  margin-top: 10px;
}
.description-news {
  margin-left: 15px;
}
.news-head {
  text-transform: uppercase;
  letter-spacing: 1.7px;
  margin: 0;
  margin-top: 6px;
  font-size: calc(0.425rem + 0.7vw);
}
.news-text {
  font-size: calc(0.325rem + 0.7vw);;
  color: #676767;
  margin: 0;
  margin-bottom: 10px;
}
.news-text-small {
  font-size: calc(0.45rem + 0.3vw);
  color: #838383;
  margin: 0;
}
/* registration */
.registration {
  margin-top: 40px;
  border: 1px solid #979797;
  height: 100%;
}
.container-form {
  display: flex;
  flex-direction: column;
  margin-left: 3.3%;
}
.registration-description {
  margin-top: 38px;
  margin-left: 3.3%;
  margin-bottom: 0;
  font-size: calc(0.325rem + 0.7vw);
  font-weight: 700;
  color: #6d6d6d;
}
.hidden {
  display: none;
}
input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 97%;
  padding: 16px;
  border: 1px solid #979797;
  border-radius: 8px;
  font-size: calc(0.325rem + 0.7vw);
} 
input:focus {
  border-color: #5cbd5c;
}
.container-registration-button {
  align-self: flex-end;
  margin-right: 3.2%;
}
.registration-button {
  background-color: #5cbd5c;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 18px 37px;
  font-size: calc(0.2rem + 0.85vw);
  margin-bottom: 10px;
  margin-top: 10px;
}
.registration-button:focus {
  background-color: #4c9e4c;
}
.registration-button:hover {
  cursor: pointer;
}
.registration-button:active {
  background-color: #4c9e4c;
}
/* footer */
footer {
  background-color: #363636;
  color: #b9b9b9;
  text-align: center;
  font-size: calc(0.325rem + 0.7vw);
}
.footer {
  margin-top: 39px;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* media quiries */
@media (max-width: 767px) {
  /* menu and main */
  .menu-mobile {
    background-color: #363636;
  }
  .main-list-head {
    overflow: hidden;
    overflow-x: scroll;
  }
  .main-list-head > li {
    white-space: nowrap;
  }
  .main-list-head > li:nth-child(6) {
    margin-right: 24px;
  }
  /* big pictures */
  .main-list-big-desktop {
    display: none;
  }
  .main-list-small-desktop {
    display: none;
  }
  .main-list-big-mobile {
    display: flex;
  }
  .main-list-small-mobile {
    display: flex;
  }
  .main-list-big {
    flex-direction: column;
  }
  /* small pictures */
  .main-list-small {
    flex-wrap: wrap;
  }
  .main-list-small > li {
    width: 49.7%;
  }

  .content-section-big {
    flex-direction: column;
    align-items: center;
  }
  /* events */
  .content-section-events {
    width: 100%;
  }
  .events-list {
    flex-direction: column;
  }
  .events-list > li {
    width: 97%;
    margin: 0 auto;
  }

  .events-section-head {
    font-size: calc(0.5rem + 1.375vw);
  }
  .line-block-events {
    width: 70%;
  }
  .event-image-text {
    font-size: calc(0.5rem + 0.25vw);
  }
  .events-head {
    font-size: calc(0.7rem + 0.3vw);
  }
  .events-text {
    font-size: calc(0.5rem + 0.25vw);
  }
  .container-events-button {
    justify-content: flex-start;
    margin-left: 1.2%;
  }
  .events-button {
    font-size: calc(0.55rem + 0.5vw);
    width: 40%;
    margin-top: 28px;
    margin-bottom: 18px;
  }
  /* users */
  .content-section {
    flex-direction: column-reverse;
    width: 100%;
    max-width: 768px;
  }
  .section-head {
    font-size: calc(0.5rem + 1.375vw);
  }
  .line-block {
    width: 40%;
  }
  .user-image {
    width: calc(6rem + 1.5vw);
    height: calc(6rem + 1.5vw);
  }
  .users-list img {
    width: calc(4rem + 1.5vw);
    height: calc(4rem + 1.5vw);
  }
  .user-head {
    font-size: calc(0.9rem + 0.32vw);
  }
  .user-text {
    font-size: calc(0.8rem + 0.3vw);
  }
  /* social cites */
  .cites-link img {
    width: calc(3rem + 0.8125vw);
  }
  .cites-link {
    font-size: calc(0.8rem + 0.3vw);
  }
  /* video */ 
  .line-block-video {
    width: 40%;
  }

  .video-list {
    justify-content: normal;
    overflow: hidden;
    overflow-x: scroll;
    gap: 7px;
  }
  .video-list > li {
    display: inline-block;
    width: auto;
  }
  .video-list > li:nth-child(4) {
    margin-right: 2.4%;
  }
  .video-list > li:first-child {
    margin-left: 2.4%;
  }
  .video-link {
    display: inline-block;
  }
  .video-image {
    width: calc(283px / 1.2);
    height: calc(197px / 1.2);
  }
  /* news */
  .news {
    display: none;
  }
  .content-section-big-second {
    gap: 0;
    justify-content: center;
  }
  .content-section-news {
    width: auto;
  }
  /* registration */
  .content-section-registration {
    width: 70%;
  } 
  .line-registration {
    width: 93%;
  }
  .registration-description {
    font-size: calc(0.7rem + 0.325vw);
  }
  input {
    font-size: calc(0.7rem + 0.325vw);
  }
  .registration-button {
    font-size: calc(0.55rem + 0.5vw);
  }
  /* footer */
  footer {
    font-size: calc(0.3rem + 0.7vw);
  }
}
